# Managed by Ansible. Manual edits will be overwritten.
COMPOSE_PROJECT_NAME=chooseyourtube
CHOOSEYOURTUBE_VERSION={{ chooseyourtube_version | quote }}
CADDY_VERSION={{ chooseyourtube_caddy_version | quote }}

APP_ENV=production
APP_MODE=full
APP_DOMAIN={{ chooseyourtube_domain | quote }}
ACME_EMAIL={{ chooseyourtube_acme_email | quote }}
API_ORIGIN={{ ('https://' ~ chooseyourtube_domain) | quote }}
API_CORS_ORIGINS={{ ('https://' ~ chooseyourtube_domain) | quote }}

YOUTUBE_API_KEY={{ chooseyourtube_youtube_api_key | quote }}
AUTH_SECRET={{ chooseyourtube_auth_secret | quote }}
REGISTRATION_ENABLED={{ chooseyourtube_registration_enabled | string | lower }}
REGISTRATION_EMAIL_ALLOWLIST={{ chooseyourtube_registration_allowlist | map('lower') | join(',') | quote }}
REGISTRATION_ALLOWLIST_REQUIRED=true
BACKGROUND_JOBS_ENABLED=true
YOUTUBE_DAILY_QUOTA_BUDGET={{ chooseyourtube_youtube_daily_quota_budget }}

POSTGRES_USER={{ chooseyourtube_postgres_user | quote }}
POSTGRES_PASSWORD={{ chooseyourtube_postgres_password | quote }}
POSTGRES_DB={{ chooseyourtube_postgres_database | quote }}
DATABASE_POOL_MODE=persistent

YOUTUBE_OAUTH_ENABLED={{ chooseyourtube_youtube_oauth_enabled | string | lower }}
GOOGLE_CLIENT_ID={{ chooseyourtube_google_client_id | quote }}
GOOGLE_CLIENT_SECRET={{ chooseyourtube_google_client_secret | quote }}
GOOGLE_REDIRECT_URI={{ chooseyourtube_google_redirect_uri | quote }}
ALLOW_INSECURE_OAUTH_TRANSPORT=false

ECHO_SQL=false
DEBUG_LOGS=false
WEB_CONCURRENCY={{ chooseyourtube_web_concurrency }}
GUNICORN_TIMEOUT={{ chooseyourtube_gunicorn_timeout }}

CADDY_CPUS={{ chooseyourtube_caddy_cpus }}
CADDY_MEMORY_LIMIT={{ chooseyourtube_caddy_memory_limit }}
FRONTEND_CPUS={{ chooseyourtube_frontend_cpus }}
FRONTEND_MEMORY_LIMIT={{ chooseyourtube_frontend_memory_limit }}
BACKEND_CPUS={{ chooseyourtube_backend_cpus }}
BACKEND_MEMORY_LIMIT={{ chooseyourtube_backend_memory_limit }}
WORKER_CPUS={{ chooseyourtube_worker_cpus }}
WORKER_MEMORY_LIMIT={{ chooseyourtube_worker_memory_limit }}
POSTGRES_CPUS={{ chooseyourtube_postgres_cpus }}
POSTGRES_MEMORY_LIMIT={{ chooseyourtube_postgres_memory_limit }}
REDIS_CPUS={{ chooseyourtube_redis_cpus }}
REDIS_MEMORY_LIMIT={{ chooseyourtube_redis_memory_limit }}
MIGRATE_CPUS={{ chooseyourtube_migrate_cpus }}
MIGRATE_MEMORY_LIMIT={{ chooseyourtube_migrate_memory_limit }}
CONTAINER_LOG_MAX_SIZE={{ chooseyourtube_container_log_max_size }}
CONTAINER_LOG_MAX_FILES={{ chooseyourtube_container_log_max_files }}

BACKUP_DIR={{ chooseyourtube_backup_dir | quote }}
BACKUP_RETENTION_DAYS={{ chooseyourtube_backup_retention_days }}
ALLOW_LOW_RESOURCE={{ chooseyourtube_allow_low_resource | string | lower }}
